**/.claude/settings.local.json
user-requirements.md
implementation-plan.md
db.sqlite3
# Ignore all .env files
*.env
# Ignore the directory  __pycache__ anywhere in the project
__pycache__/
# Ignore log files and directory
logs/

# Ignore compiled translation files
*.mo
